<div class="modal fade" id="newAccountModal" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAccountModalLabel">New account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-around">
                    <div>
                        <label for="customerID">customerID:</label><br>
                        <input [(ngModel)]="customerID" type="text" id="customerID" name="customerID" required>
                    </div>
                    <div>
                        <label for="initialCredit">initialCredit:</label><br>
                        <input [(ngModel)]="initialCredit" type="number" id="initialCredit" name="initialCredit" required>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <div class="spinner-border text-primary center" role="status" *ngIf="(loading);">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="errorMessage" *ngIf="(error);">{{error}}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a visible="false" data-bs-dismiss="modal"></a>
                </div>
            </form>
        </div>
    </div>
</div>
