<div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#newAccountModal">
  <button type="button" class="btn btn-outline-primary my-4">create new account</button>
</div>
<div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#findModal">
  <button type="button" class="btn btn-outline-primary mb-4">find account</button>
</div>


<div class="d-flex justify-content-center">
  <app-account-table></app-account-table>
</div>

<!-- new account modal -->
<div class="modal fade" id="newAccountModal" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <h5 class="modal-title" id="newAccountModalLabel">New account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-around">
          <div>
            <label for="customerID">customerID:</label><br>
            <input type="text" id="customerID" name="customerID">
          </div>
          <div>
            <label for="initialCredit">initialCredit:</label><br>
            <input type="number" id="initialCredit" name="initialCredit">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- find modal -->
<div class="modal fade" id="findModal" tabindex="-1" aria-labelledby="findModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <h5 class="modal-title" id="findModalLabel">Find account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <div>
            <label for="customerID">Account number:</label><br>
            <input type="text" id="customerID" name="customerID">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Find</button>
        </div>
      </form>
    </div>
  </div>
</div>