<div id="informations" class="mb-5">
    <h4><u>Account Informations:</u></h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">account number</th>
                <th scope="col">balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bob</td>
                <td>Stricker</td>
                <td>BE45802859385493</td>
                <td>1000€</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="transactions">
    <h4><u>Transactions:</u></h4>
    <button type="button" class="btn btn-outline-primary my-2">make a new transaction</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">from:</th>
                <th scope="col">to:</th>
                <th scope="col">date:</th>
                <th scope="col">value:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BE45802859385493</td>
                <td>BE34588638838234</td>
                <td>13/08/2021</td>
                <td>1000€</td>
            </tr>
        </tbody>
    </table>
</div>