<div id="informations" class="mb-5">
    <h4><u>Account Informations:</u></h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">account number</th>
                <th scope="col">balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bob</td>
                <td>Stricker</td>
                <td>BE45802859385493</td>
                <td>1000€</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="transactions">
    <h4><u>Transactions:</u></h4>
    <button type="button" class="btn btn-outline-primary my-2" data-bs-toggle="modal" data-bs-target="#transactionModal">make a new transaction</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">from:</th>
                <th scope="col">to:</th>
                <th scope="col">date:</th>
                <th scope="col">value:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BE45802859385493</td>
                <td>BE34588638838234</td>
                <td>13/08/2021</td>
                <td>1000€</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- transaction modal -->
<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="">
          <div class="modal-header">
            <h5 class="modal-title" id="transactionModalLabel">New transaction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-wrap justify-content-around">
            <div>
              <label for="customerID">sender:</label><br>
              <input type="text" id="customerID" name="customerID" value="BE45802859385493" readonly>
            </div>
            <div>
                <label for="customerID">receiver:</label><br>
                <input type="text" id="customerID" name="customerID">
              </div>
            <div>
              <label for="initialCredit">initialCredit:</label><br>
              <input type="number" id="initialCredit" name="initialCredit">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>