<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">New transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-around">
                    <div>
                        <label for="customerID">sender:</label><br>
                        <input type="text" id="customerID" name="customerID" value={{accountNumber}} readonly>
                    </div>
                    <div>
                        <label for="customerID">receiver:</label><br>
                        <input type="text" id="customerID" name="customerID" required>
                    </div>
                    <div>
                        <label for="initialCredit">initialCredit:</label><br>
                        <input type="number" id="initialCredit" name="initialCredit" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
