<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit(sender.value, receiver.value, transactionValue.value)" (keydown.enter)="$event.preventDefault()">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">New transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-around">
                    <div>
                        <label for="customerID">sender:</label><br>
                        <input #sender type="text" id="customerID" name="customerID" value={{accountNumber}} readonly>
                    </div>
                    <div>
                        <label for="customerID">receiver:</label><br>
                        <input #receiver type="text" id="customerID" name="customerID" required>
                    </div>
                    <div>
                        <label for="transactionValue">transaction value:</label><br>
                        <input #transactionValue type="number" id="transactionValue" name="transactionValue" required>
                    </div>
                </div>
                <p class="errorMessage" *ngIf="(error);">{{error}}</p>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a visible="false" data-bs-dismiss="modal"></a>
                </div>
            </form>
        </div>
    </div>
</div>
